@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.mask1 {
  -webkit-mask-image: linear-gradient(to bottom, transparent 15%, black 100%);
  mask-image: linear-gradient(to bottom, transparent 15%, black 100%);
}
.mask2 {
  -webkit-mask-image: linear-gradient(to top, transparent 15%, black 100%);
  mask-image: linear-gradient(to top, transparent 15%, black 100%);
}

.blue-gradient{
  background: linear-gradient(111deg, #1A2331 1.79%, #0A1423 74.32%);
}